html {
    /* This image will be displayed fullscreen */
    background: url('http://i.imgur.com/iyW6P7V.jpg') no-repeat center center;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;
    /* The Magic */
    background-size: cover;
}

body {
    /* Workaround for some mobile browsers */
    max-height: 100%;
}

.logo {
    max-height: 200px;
}

.whitetext {
    color: #ece3d4;
}

.darkbox {
    background: rgba(2, 2, 2, 0.41);
    color: #ece3d4;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: rgba(2, 2, 2, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}